<div ng-controller="pivalidationController">
    <div class="panel-heading">
        <h2>{{piFullname}}, we need your help</h2>
    </div>

    <div class="panel-body" ng-if="isLoaded">
        <div class="row rowdistant" ng-hide="showEndPage">
            <div class="col-sm-6 vcenter">
                <h5><b>{{userFullname}}</b> has introduced a demand to join GIGA under your supervision. Do you confirm the validity of this demand?</h5>
            </div>
            <div class="col-sm-5 vcenter">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="radio">
                            <label><input type="radio" ng-model="answersByPi.AllowMode" value="yes">Yes, he is allowed to join</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="radio">
                            <label><input type="radio" ng-model="answersByPi.AllowMode" value="no">No, this is not correct</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div ng-show="answersByPi.AllowMode==='yes' && ! selectOfficeMode && ! showEndPage"> 	<!-- selectLabMode && ! inutlie -->  
            <div class="row rowdistant">
                <div class="col-sm-6 vcenter">
                    <h5>Which office and lab bench will you assign to {{userFullname}}?</h5>
                </div>
                <div class="col-sm-5 vcenter">
                    <div class="row">
                        <div class="col-sm-12">{{selectedDesk ? 'Selected desk: ' + selectedDesk : 'Nothing selected yet'}} </div>
                        <div class="col-sm-12">{{selectedLab ? 'Selected labo: ' + selectedLab : 'Nothing selected yet'}} </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="pointer" ng-click="setSelectOfficeMode(true)">Choose from active screen</a>
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="row rowdistant">
                <div class="col-sm-6 vcenter">
                    <h5>Will you provide {{userFullname}} with a computer funded by the University?</h5>
                </div>
                <div class="col-sm-5 vcenter">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input type="radio" ng-model="answersByPi.WillReceiveComputer" value="yes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input type="radio" ng-model="answersByPi.WillReceiveComputer" value="no">No</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row rowdistant">
                <div class="col-sm-6 vcenter">
                    <h5>Do you give {{userFullname}} permission to order products by means of the KRINO system and under what regime?</h5>
                </div>
                <div class="col-sm-5 vcenter">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input type="radio" ng-model="answersByPi.KrinoMode" value="yes">Yes, in an unrestricted way</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input type="radio" ng-model="answersByPi.KrinoMode" value="junior">Yes, as a junior user</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input type="radio" ng-model="answersByPi.KrinoMode" value="no">No</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row rowdistant">
                <div class="col-sm-6 vcenter">
                    <h5>What ratio of laboratory versus non-laboratory work will be applicable to {{userFullname}}?</h5>
                </div>
                <div class="col-sm-5 vcenter">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input type="radio" ng-model="answersByPi.LaboRatio" value="0">100% non laboratory work</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input type="radio" ng-model="answersByPi.LaboRatio" value="50">50% / 50%</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input type="radio" ng-model="answersByPi.LaboRatio" value="100">100% laboratory work</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row rowdistant">
                <div class="col-sm-6 vcenter">
                    <h5>Which GIGA platform will {{userFullname}} need to use?</h5>
                    <p>(you can select one or several buttons)</p>
                </div>
                <div class="col-sm-5 vcenter">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group-vertical">
                                <label ng-repeat="platform in platforms" class="btn btn-default" ng-model="answersByPi.allowedPlatforms[platform._id]" uib-btn-checkbox>{{platform.Nom}}</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row rowdistant">
                <div class="col-sm-6 vcenter">
                    <h5>To which GIGA facilities will {{userFullname}} need access?</h5>
                    <p>(you can select one or several buttons)</p>
                </div>
                <div class="col-sm-5 vcenter">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group-vertical">
                                <label ng-repeat="facility in facilities" class="btn btn-default" ng-model="answersByPi.allowedFacilities[facility._id]" uib-btn-checkbox>{{facility.Nom}}</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div ng-show="answersByPi.AllowMode==='yes' && selectOfficeMode && ! showEndPage"> <!--  selectLabMode && ! inutlie -->
            <script type="text/ng-template" id="myPopoverTemplate.html">
                <div ng-controller="deskAreaPopOverController">
                    <p>{{popOverText}}</p>
                    <p>Presently: Latfa Karim</p>
                </div>
            </script>
                                                                                        
            <div>
                <div class="row rowdistant">
                    <div class="col-sm-4"><a class="pointer" ng-click="setSelectOfficeMode(false)" >Close active screen</a>
                    </div>
                    <div class="col-sm-4">{{selectedDesk ? 'Selected desk: ' + selectedDesk : ''}} </div>
                    <div class="col-sm-4">{{selectedLab ? 'Selected labo: ' + selectedLab : ''}} </div>
                </div>
                
                <div class="row rowdistant">
                    <uib-tabset active="tabNo">  
                        <uib-tab index="0" heading="Etage +1" select="setTab(0)"> 
                            <img src="../../images/etage_1.png" usemap="#auto" />
                            <map name="auto" id="auto">
                                <area ng-repeat="desk in desks" ng-mouseenter="enterArea(desk)" id="akx{{$index}}" uib-popover-template="'myPopoverTemplate.html'" popover-trigger="mouseenter" popover-popup-delay="200" shape="rect" coords="{{getCoordinate(desk)}}" ng-click="clickDesk(desk)" />
                                <area ng-repeat="lab in laboratoires" ng-mouseenter="enterArea(lab)" id="akx{{$index}}" uib-popover-template="'myPopoverTemplate.html'" popover-trigger="mouseenter" popover-popup-delay="200" shape="rect" coords="{{getCoordinate(lab)}}" ng-click="clickLab(lab)" />
                            </map>
                        </uib-tab>
                        <uib-tab index="1" heading="Etage +4" select="setTab(1)">

                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>

        </div>
        <div ng-show="showEndPage">
            <h3>Thank you! Your specification has been forwarded to Administration.</h3>
        </div>
    </div>

    <div class="row rowdistant" ng-show="!hideSubmit()">
        <div class="col-sm-12">
            <button ng-click="gotoEnd()" class="btn btn-danger">Submit</button>
        </div>
    </div>
</div>

