<script type="text/ng-template" id="myPopoverTemplate.html">
    <div ng-controller="deskAreaPopOverController">
        <div>{{popOverText}}</div>
    </div>

</script>


<div ng-controller="officemapController">
    <img src="../../images/etage_1.png" usemap="#auto"/>
    <map name="auto" id="auto">
        <area ng-repeat="desk in desks" ng-mouseenter="enterArea(desk)" id="akx{{$index}}" uib-popover-template="'myPopoverTemplate.html'" popover-trigger="mouseenter" popover-popup-delay="200" shape="rect" coords="{{getCoordinate(desk)}}"  ng-click="clickDesk(desk)"/>
    </map>

</div>

