<div>
    <div class="panel-heading">
        <h2>Menu</h2>
    </div>

    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>This is for the new User at arrival</h4>
                <a ui-sref="welcome.director">Pages to welcome a new User (if you are not registered yet)</a>
            </li>
            <li class="list-group-item">
                <h4>This is for the new User after resgistration</h4>
                <a ui-sref="userinfo">My Giga (if you are already registered)</a>
            </li>
            <li class="list-group-item">
                <h4>This is for the PIs to review his users</h4>
                <a ui-sref="piMyUsers">My Giga Users (for PI)</a>
            </li>



            <li class="list-group-item">
                <h4>This is an example of e-mail that will be sent to a Pi</h4>
                <p>Dear Michel Georges, </p>
                <p>Alexander Kvasz has introduced a demand to join GIGA under your supervision.</p>
                <p>
                    Could you please click on the following link: <a href="http://localhost:1337/#/pivalidation/57b74124806081252c848801/57c6a0172213be51bcfcc490">Proceed to user validation</a>
                </p>
                <p>Thank you!</p>
                <p>The Giga Administration Team</p>
            </li>
            <li class="list-group-item">
                <h4>This is an example of a Presentation/Exam Sequence</h4>
                <a ui-sref="presentation({presentationId:'57c6a0172213be51bcfcc490', UserId: '57b87524c0f57b4cf4185d13'})">Introduction to the GIGA Institute</a>
            </li>
            <li class="list-group-item">
                <h4>Examples for Ids</h4>
                <p>Users: 57c6a0172213be51bcfcc490 57c6a10e2213be51bcfcc491</p>
                <p>Pis: 57b74124806081252c848801 57b74124806081252c848804</p>
            </li>
        </ul>

    </div>

</div>
